<html>
<head>
	<title>Login</title>
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="hero">
		<h1>Fullstack Force Wiki</h1>
	</div>

	<div class="login-container">
		<h3>Login Here</h3>
			<form  action="/login" method="POST">
				<input type="text" name="username" placeholder="username"/>
				<input type="password" name="password" />
				<input type="submit" name="Submit" />
			</form>
	</div>
	<br/>
	<br/>

	<a href="/login/newuser"><h3>New employees (create a user)</h3></a>
	


</body>
</html>