<html>
<head>
	<title></title>
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="hero">
		<h1>Fullstack Force Wiki</h1>
	</div>
	
	<h3>Sign Up: create a user</h3>
	<form action="/login/newuser" method="POST">
		<input type="text" name="username" placeholder="username"/>
		<input type="text" name="author" placeholder="Your Name"/>
		<input type="password" name="password" />
		<input type="submit" value="Sign Up" />
	</form>
</body>
</html>