<html>
<head>
	<title></title>
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="hero">
		<h1>Fullstack Force Wiki</h1>

		<h2>Welcome <%= data.author %>!</h2>
</div>
	<div class="category-container">
		<h3>Post Categories</h3>
		<select id="dataset-select">
			<option value="no_id" />Choose Category</option>
			<option value="Best Practices"/>Best Practices</option>
			<option value="Regulatory"/>Regulatory</option>
			<option value="Enhancements"/>Enhancements</option>

		</select>
	</div>

	<br/>
	<br/>
	
	<div class="navigation-container">
		<a href="/posts/<%=data._id%>/new"><button>Create Post</button></a>
		<a href="/users/<%=data._id%>"><button>View your posts</button></a>
		<button>Log Out</button>
	</div>
	
</body>
</html>